{{#controllers}}
'use strict'

angular.module('{{fullName}}', ['angular-sprang'])
    .service('{{serviceName}}', ['$http', '$q', 'sprangConfig',
        function ($http, $q, sprangConfig) {
            {{#methods}}
            this.{{action}} = function(params){
                var defer = $q.defer();
                $http({
                    method: '{{httpMethod}}',
                    url: sprangConfig.get('{{configName}}').url + '{{url}}.json',
                    params: params
                }).success(function(data, status){
                    defer.resolve(data);
                }).error(function(data,status){
                    defer.reject({status: status, data: data});
                });
                return defer.promise;
            };
            {{/methods}}
        }
    ]);
{{/controllers}}